# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Tab indentation (no size specified)
[*.sh]
indent_style = tab
end_of_line = lf
insert_final_newline = true
