[user]
	name = bowling233
	email = zhubaolin228@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
# [sendemail]
#     smtpServer = smtp.gmail.com
#     smtpServerPort = 587
#     smtpEncryption = tls
#     smtpUser = zhubaolin228@gmail.com
#     # smtpPass = PASSWORD
# [credential]
#     helper = store
[safe]
	directory = *
[gpg]
        format = ssh
[core]
	editor = vim
	autocrlf = false
	safecrlf = warn
	eol = lf
	quotepath = false
[init]
        defaultBranch = main
[color]
        ui = true
[rerere]
	enabled = true
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	undo = reset --soft HEAD^
[pull]
	rebase = true
